@CHARSET "UTF-8";

html {
    font-family: Verdana,  non-serif;	
}

#table-view {
    display:none;
    width: 100%;	
}


#table-view thead th.header {
    background-color: #E6EEEE;
    background-image: url('../images/bg.gif');
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}

#table-view thead th.headerSortUp,
#table-view thead th.headerSortDown  {
    background-color: #8DBDD8;
}

#table-view thead th.headerSortUp {
	background-image: url('../images/desc.gif');
}

#table-view thead th.headerSortDown  {
    background-image: url('../images/asc.gif');
}

#table-view tbody td {
    text-align: right;
}

#table-view tbody tr.alt td {
    background-color: #BBB;
}

#table-view tbody tr:hover {
    background-color: #FFF1BA !important;
    cursor: pointer;
}

#content {
    width: 1024px;
    margin:auto;
    -moz-border-radius: 10px;
    border: 1px solid #AAA;
    padding:20px;
}

#js-message {
	text-align: center;
    margin-top: 100px;
}

.search-option {
    background-color: #EBBC66;
    -moz-border-radius: 10px;
    width: 800px;
    padding: 20px;
    text-align: center;
    margin: 10px auto 10px auto;
}

.button {
    display: block;
     -moz-border-radius: 10px;
    padding:5px;
    float: right;
    border: 1px solid black;
    width:20px;
    height: 20xpx;
    margin-left: 10px;
    cursor: pointer;
}

.button:hover {
}

.remove-button {
    background-color: #FF6666;
}

.add-button {
    display: block;
    background-color: #00FF80;
    padding:5px;
}
#message-view {
    display: none;
}